@font-face {
   font-family: 'Domine';
   src: url(../fonts/Domine/Domine-Regular.ttf);
}

@font-face {
   font-family: 'Domine-Bold';
   src: url(../fonts/Domine/Domine-Bold.ttf);
}

@font-face {
   font-family: 'Roboto';
   src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
   font-family: 'Open-Sans';
   src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

html,
body {
   font-family: 'Roboto';
   height: 100%;
}

h4,
p {
   font-family: 'Roboto';
}

.top-header {
   background: #690606;
}

.top-header li a {
   color: white !important;
}

.section-footer {
   background: #bf2d26;
}

.footer-bottom {
   border-top: 1px solid #fff;
}

.social-media-link li {
   display: inline-block;
   /* You can also add some margins here to make it look prettier */
   zoom: 1;
   *display: inline;
}

.slider-home-banner .carousel-item img {
   height: auto;
}

.section-footer ul a:hover {
   color: white;
}

.brand-wrap .logo,
.navbar-brand .logo {
   max-height: 70px;
}

.btn-warning {
   color: #fff;
   background-color: #fa5951;
   border-color: #fa5951;
}

.navbar-toggler {
   border-color: rgba(0, 0, 0, 0);
}

.snap-embed {
   height: 100%;
}

#myBar {
   width: 0%;
   height: 5px;
   background-color: #fff;
   border-radius: 10px;
}

.logo {
   fill: red;
}

.btn-action {
   cursor: pointer;
   padding-top: 10px;
   width: 30px;
}

.btn-ctn,
.infos-ctn {
   display: flex;
   align-items: center;
   justify-content: center;
}

.infos-ctn {
   padding-top: 20px;
}

.btn-ctn>div {
   padding: 5px;
   margin-top: 18px;
   margin-bottom: 18px;
}

.infos-ctn>div {
   margin-bottom: 8px;
   color: #ffc266;
}

.first-btn {
   margin-left: 3px;
}

.duration {
   margin-left: 10px;
}

.title {
   margin-left: 10px;
   width: 210px;
   text-align: center;
}

.player-ctn {
   border-radius: 15px;
   width: 100%;
   padding: 10px;
   background-color: #373737;
   margin: 20px auto;
}

.playlist-track-ctn {
   display: flex;
   background-color: #464646;
   margin-top: 3px;
   border-radius: 5px;
   cursor: pointer;
}

.playlist-track-ctn:last-child {
   /*border: 1px solid #ffc266; */
}

.playlist-track-ctn>div {
   margin: 10px;
}

.playlist-info-track {
   width: 80%;
}

.playlist-info-track,
.playlist-duration {
   padding-top: 7px;
   padding-bottom: 7px;
   color: #fff;
   font-size: 14px;
   pointer-events: none;
}

.playlist-ctn {
   padding-bottom: 20px;
}

.active-track {
   background: #4d4d4d;
   color: #f9f340 !important;
   font-weight: bold;

}

.active-track>.playlist-info-track,
.active-track>.playlist-duration,
.active-track>.playlist-btn-play {
   color: #f9f340!important;
}


.playlist-btn-play {
   pointer-events: none;
   padding-top: 5px;
   padding-bottom: 5px;
}

.playlist-ctn .fas, .btn-ctn .fas {
   color: #fff;
   font-size: 20px;
}
.infos-ctn div{
   color: #fff;
}

@media(max-width: 767px) {

   .brand-wrap .logo,
   .navbar-brand .logo {
      max-height: 45px;
   }

   .heading-line::before {
      display: none;
   }

   .navbar-container {
      padding-left: 0px !important;
      padding-right: 0px !important;
   }
}